@charset "UTF-8";

@import 'variables';
@import 'mixins';



.account {
	background: $account-color;
	border-color: $base-separation-color;

	.account {
		&__display-name {
			color: $secondary-text-color;
			strong { color: $primary-text-color }
		}
	}

	&-role {
		color: $primary-lighter2-text-color;
		background-color: rgba($base-separation-color, 0.1);
		border-color: rgba($base-separation-color, 0.5);
	}
}

.column {
	> .column-back-button {
		@include column-shadow;
		background: $column-header-color;
	}
}

.account-timeline__header {
	.account__header {
		background-color: $account-foreground-color;

		> div { background-color: inherit } // -> v2.7.4

		.account__header {
			&__username { color: $secondary-lighter1-text-color }
			&__fields { @extend .account__header__fields; }

			&__image { // v2.8.0 ->
				&::after {
					content: "";

					position: absolute;
					top: auto;
					left: 0;
					bottom: 0;
	
					width: 100%;
					height: 30%;
					background: $account-header-image-shadow-color;
					box-shadow: none;
				}

				> img:not([src]),
				> img[src$="/headers/original/missing.png"] {
					content: url("https://raw.githubusercontent.com/GenbuProject/GPlusTheme-for-Mastodon/asset/account-default_header.jpg");
				}
			}

			&__bar { // v2.8.0 ->
				background-color: $base-lighter1-color;

				.account__header {
					&__tabs {
						.avatar {
							.account__avatar {
								border-color: $base-lighter1-color;
								border-radius: 50%;
							}
						}

						&__buttons {
							.icon-button { 
								border: 0;
								border-radius: 50%;
							}
						}

						&__name {
							h1 { color: $primary-text-color }
							small { color: $secondary-text-color }
						}
					}

					&__bio {
						.account__header {
							&__content { color: $primary-text-color }
							&__fields { border-color: $base-separation-color }
						}
					}

					&__extra {
						&__links {
							&, a { color: $primary-lighter1-text-color }
							strong { color: $primary-lighter2-text-color }
						}
					}
				}
			}
		}

		.account--action-button {
			.icon-button:not(.active) {
				color: darken($light-text-color, 7%);

				&:active,
				&:focus,
				&:hover {
					color: $light-text-color;
				}
			}
		}
	}

	.account {
		&__disclaimer,
		&__action-bar,
		&__section-headline {
			background: $base-lighter1-color;
			border-color: $base-separation-color;
		}

		&__action-bar {
			&__tab {
				border-color: $base-separation-color;
				&.active { border-bottom-color: $active-color }
	
				> span { color: $primary-lighter1-text-color }
			}
		}
	
		&__section-headline {
			a {
				color: $primary-text-color;
	
				&.active {
					color: $active-color;
	
					&::before { border-color: transparent transparent $base-separation-color }
					&::after { border-color: transparent transparent $status-color }
				}
			}
		}
	}
}

.account-authorize__wrapper {
	@include status-shadow;
	background: $base-lighter1-color;

	&:focus { @include status-focus-shadow; }

	.account {
		&__header__content {
			color: $primary-lighter2-text-color;
		}
	
		&--panel {
			background: $account-color;
			border-color: $base-separation-color;
		}
	}
}

.account__header__fields {
	dl {
		border-color: $base-separation-color;
		
		dt,
		dd {
			color: $primary-text-color;
			background: $base-lighter1-color;
		}

		dd {
			&.verified {
				border-color: transparentize($valid-color, 0.5);
				background: transparentize($valid-color, 0.75);

				a { color: lighten($verified-color, 20%) }
			}
		}
	}

	a { color: $secondary-text-color }
}

.account__action-bar__tab {
	strong { color: $primary-text-color }
}