@charset "UTF-8";

@import '_variables.scss';
@import '_mixins.scss';



.account {
	background: $account-color;
	border-color: $base-separation-color;

	.account__wrapper {
		.account__display-name {
			color: $secondary-text-color;

			strong {
				color: $primary-text-color;
			}
		}
	}
}

.column {
	> .column-back-button {
		@include column-shadow;
		background: $column-header-color;
	}

	.scrollable {
		.account-timeline__header {
			.account__header {
				background-color: $account-foreground-color;

				> div {
					background-color: inherit;
				}

				.account__header__username {
					color: $secondary-lighter1-text-color;
				}

				.account__header__fields {
					dl {
						dt {
							color: $primary-text-color;
							background: darken($base-color, 10%);
						}
		
						dd {
							color: $primary-text-color;
							background: $column-header-color;
						}
					}

					a {
						color: $secondary-text-color;
					}
				}

				.account--action-button {
					.icon-button:not(.active) {
						color: darken($column-header-color, 7%);

						&:active,
						&:focus,
						&:hover {
							color: $column-header-color;
						}
					}
				}
			}

			.account__disclaimer {
				background: $column-header-color;
				border-color: $base-separation-color;
			}

			.account__action-bar {
				background: $column-header-color;
				border-color: $base-separation-color;

				.account__action-bar__tab {
					border-color: $base-separation-color;

					> span {
						color: $primary-lighter1-text-color;
					}
				}
			}

			.account__section-headline {
				background: $column-header-color;
				border-color: $base-separation-color;

				a {
					color: $primary-text-color;

					&.active {
						color: $primary-lighter1-text-color;

						&::before {
							border-color: transparent transparent $base-separation-color;
						}

						&::after {
							border-color: transparent transparent $status-color;
						}
					}
				}
			}
		}
	}
}

.account__action-bar__tab {
	strong {
		color: $primary-text-color;
	}
}