@charset "UTF-8";

@import 'variables';
@import 'mixins';



.account {
	background: $account-color;
	border-color: $base-separation-color;

	.account {
		&__display-name {
			color: $secondary-text-color;
	
			strong { color: $primary-text-color }
		}
	}
}

.column {
	> .column-back-button {
		@include column-shadow;
		background: $column-header-color;
	}
}

.account-timeline__header {
	.account__header {
		background-color: $account-foreground-color;

		> div { background-color: inherit }

		.account__header {
			&__username { color: $secondary-lighter1-text-color }
			&__fields { @extend .account__header__fields; }
		}

		.account--action-button {
			.icon-button:not(.active) {
				color: darken($light-text-color, 7%);

				&:active,
				&:focus,
				&:hover {
					color: $light-text-color;
				}
			}
		}
	}

	.account {
		&__disclaimer,
		&__action-bar,
		&__section-headline {
			background: $column-header-color;
			border-color: $base-separation-color;
		}

		&__action-bar {
			&__tab {
				border-color: $base-separation-color;
				&.active { border-bottom-color: $active-color }
	
				> span { color: $primary-lighter1-text-color }
			}
		}
	
		&__section-headline {
			a {
				color: $primary-text-color;
	
				&.active {
					color: $primary-lighter1-text-color;
	
					&::before { border-color: transparent transparent $base-separation-color }
					&::after { border-color: transparent transparent $status-color }
				}
			}
		}
	}
}

.account__header__fields {
	dl {
		border-color: $base-separation-color;
		
		dt,
		dd {
			color: $primary-text-color;
			background: $column-header-color;
		}

		dd {
			&.verified {
				border-color: transparentize($valid-color, 0.5);
				background: transparentize($valid-color, 0.75);

				a { color: lighten($verified-color, 20%) }
			}
		}
	}

	a { color: $secondary-text-color }
}

.account__action-bar__tab {
	strong { color: $primary-text-color }
}