@charset "UTF-8";

@import 'variables';
@import 'mixins';


.dropdown-menu {
	background-color: $column-header-color;

		&__arrow {
			&.top { border-top-color: $column-header-color }
			&.bottom { border-bottom-color: $column-header-color }
		}

		&__separator { margin: 4px 0 }
}

.dropdown-menu,
.actions-modal {
	@include material-card-radius;

	& > ul {
		background: $base-lighter1-color;

		.dropdown-menu {
			&__item {
				a {
					color: $primary-lighter2-text-color;

					padding: 16px 16px;
					background: $column-header-color;

					&:active,
					&:focus,
					&:hover {
						color: $primary-text-color;
						background: $column-header-hover-color;
					}
				}
			}

			&__separator { border-bottom-color: $base-separation-color }
		}

		& > li:not(:empty) {
			@extend .dropdown-menu__item;

			a {
				padding: 12px 16px;
				color: $primary-text-color;

				&:hover {
					color: $primary-text-color;
					background-color: $column-header-hover-color;
				}
			}
		}
	}

	.status {
		background-color: $base-lighter1-color;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-right: 16px;
		padding-left: 74px;

		&__avatar {
			top: 16px;
		}
	}
}