@charset "UTF-8";

@import 'variables';
@import 'mixins';



.floating-action-button {
	font-size: 24px;
	background-color: $active-color;
	width: 3.6rem;
	height: 3.6rem;

	&:active {
		background-color: $active-color;
	}

	&:hover {
		background-color: $floating-acton-button-hover-color;
	}
}

.button {
	@include button-shadow;
	@include material-card-radius;
	background-color: $active-button-color;

	.text-icon-button {
		color: $primary-lighter1-text-color;
		border-radius: 50%;
	}

	.button--block { @include button-shadow }

	.button-secondary {
		background-color: $primary-lighter1-text-color;
		border: 0px;
	}
}

.modal-root {
	&__modal {
		.media-modal {
			&__close.icon-button {
				font-size: 40px;
				width: 40px;
				height: 40px;

				&:hover {
					background-color: darken($base-lighter1-color, 40%);
				}
			}
		}
	}
}

// DOM操作によりpaddingが調整できないもの
.privacy-dropdown__value-icon.icon-button.inverted,
.compose-form__poll-button-icon.icon-button.inverted,
.compose-form__upload-button-icon.icon-button.inverted { padding: 4px }