@charset "UTF-8";

@import 'variables';
@import 'mixins';



.public-layout {
	.page-header {
		background: $explore-header-color;

		h1 { color: $primary-text-color }
		p { color: $primary-lighter2-text-color }
	}

	.directory,
	.notice-widget { @include column-shadow; }

	.directory {
		background: $explore-directory-color;

		.accounts-table {
			&__count {
				color: $primary-lighter2-text-color;
				small { color: $primary-lighter1-text-color }
			}
		}

		&__tag {
			& > a {
				@include status-shadow;
				background: $explore-directory-color;
			}

			h4 { color: $primary-lighter2-text-color }
			.fa, small { color: $primary-lighter1-text-color }
			.trends__item__current { color: $primary-text-color }
		}
	}

	.notice-widget {
		color: $primary-lighter1-text-color;
		background: $explore-directory-color;

		a { color: $secondary-text-color }
	}
}