@charset "UTF-8";

@import 'variables';



.column {
	.column-back-button { background: inherit }

	.column-inline-form {
		background: $column-header-color;

		label input {
			color: $secondary-text-color;
			&:focus { color: $primary-text-color }
		}
	}

	.column-inline-form ~ .scrollable {
		article { margin: 0 }
	}
}

.modal-root {
	.list-editor {
		background: $base-color;
		
		h4 { background: $column-header-color }

		.drawer__pager {
			.drawer__inner { background: $column-header-color }
		}
	}
}