@charset "UTF-8";

@import 'variables';
@import 'mixins';



.search {
	.search {
		&__input {
			@include material-border;

			color: $primary-text-color;
			background: $form-color;
	
			&:focus { background: $form-focused-color }
		}
	
		&__icon {
			.fa { color: $icon-color }
		}
	}

	&-results {
		> .search-results {
			&__header { background: $base-color }
			&__section {
				> h5 { background: darken($base-color, 10%) }
			}
		}
	}
}

.trends__item {
	background: $trend-color;

	.trends__item {
		&__name a { color: $secondary-text-color }
		&__current { color: lighten($secondary-text-color, 10%) }
	}
}