@charset "UTF-8";

@import '_variables.scss';



.search {
	.search__input {
		color: $primary-text-color;
		background: $search-color;

		&:focus {
			background: lighten($search-color, 20%);
		}
	}

	.search__icon {
		.fa {
			color: $icon-color;
		}
	}
}

.search-results {
	> .search-results__header {
		background: $base-color;
	}

	> .search-results__section {
		> h5 {
			background: darken($base-color, 10%);
		}
	}
}

.trends__item {
	background: $trend-color;

	.trends__item__name a {
		color: $secondary-text-color;
	}

	.trends__item__current {
		color: lighten($secondary-text-color, 10%);
	}
}