@charset "UTF-8";

@import 'variables';
@import 'mixins';
@import 'settings-account';
@import 'settings-report';
@import 'settings-dashboard';



body.admin {
	color: $primary-text-color;
	background: $setting-base-color;
	
	.sidebar {
		&-wrapper { background: inherit }

		ul {
			border-radius: 0;

			a {
				color: $primary-lighter2-text-color;
				border-radius: 0;

				&:hover {
					color: $primary-text-color;
					background: $setting-lists-hover-color;
				}

				&.selected {
					color: $primary-text-color;
					background: $setting-lists-selected-color;
				}
			}

			ul { background: darken($setting-base-color, 4%) }

			.simple-navigation-active-leaf a {
				color: $icon-active-color;
				background: initial;

				&:hover { background: $setting-lists-hover-color }
			}
		}
	}

	.content {
		@include column-shadow;
		background: $setting-content-base-color;

		h2, h3, h4, h6 { color: $primary-text-color }

		p {
			color: $primary-text-color;
			strong { color: $primary-text-color }
		}

		h2, h4, hr { border-bottom-color: $base-separation-color }
		.muted-hint { color: $primary-lighter1-text-color }
	}
}

.simple_form {
	.input {
		&.boolean,
		&.with_label,
		&.with_floating_label {
			.label_input > label { color: $primary-text-color }
		}

		&.with_block_label {
			& > label { color: $primary-text-color }
		}

		&.radio_buttons{
			.radio label { color: $primary-text-color }
		}

		&-copy { background: $base-color }
	}

	.check_boxes {
		.checkbox {
			label { color: $primary-text-color }
		}
	}

	input[type=text],
	input[type=number],
	input[type=email],
	input[type=password],
	textarea {
		color: $primary-text-color;
		background: $setting-content-base-color;
		border-color: $base-separation-color;

		&:hover {
			border-color: $base-separation-color;
		}

		&:active,
		&:focus {
			background: darken($setting-content-base-color, 8%);
		}
	}

	select {
		color: $primary-text-color;
		background-color: $setting-content-base-color;
		border-color: $base-separation-color;
	}

	.input.field_with_errors {
		label,
		.error {
			color: $error-text-color;
		}
	}

	.hint, p.hint { color: $primary-lighter1-text-color !important }

	.label_input {
		&__append { color: $primary-lighter1-text-color }
	}
}

.simple_form,
.table-form {
	.warning { background: change-color($color: $error-color, $alpha: 0.8) }
}

.quick-nav {
	a {
		color: $secondary-text-color;

		&:hover,
		&:focus,
		&:active {
			color: lighten($secondary-text-color, 8%);
		}
	}
}

.pagination {
	.page,
	a {
		color: $primary-text-color;
	}

	.page {
		&.current {
			background: $icon-active-color;
			color: $light-text-color;
		}
	}
}

.filters {
	.filter-subset {
		strong { color: $primary-text-color }

		a {
			color: $primary-lighter2-text-color;

			&:hover { color: $primary-text-color }

			&.selected {
				color: $active-text-color;
				border-bottom-color: $active-text-color;
			}
		}
	}
}

label {
	&[for=user_setting_default_privacy_public],
	&[for=user_setting_default_privacy_unlisted] {
		color: $active-text-color !important;
	}
}

.column-header__collapsible__extra {
	.column-settings__section { color: $primary-text-color }

	.setting-toggle {
		.react-toggle {
			&.react-toggle--checked {
				> .react-toggle-track { background: $setting-toggle-checked-color }

				> .react-toggle-thumb {
					border-color: $setting-toggle-checked-color;
					background-color: $setting-toggle-thumb-checked-color;
				}
			}

			> .react-toggle-track { background: $setting-toggle-color }

			> .react-toggle-thumb {
				border-color: $setting-toggle-color;
				background-color: $setting-toggle-thumb-color;
			}
		}

		.setting-toggle__label { color: $primary-text-color }
	}

	.setting-meta__label { color: $primary-lighter1-text-color }
}