@charset "UTF-8";

@import '_variables.scss';
@import '_mixins.scss';



.account {
	border-color: $base-separation-color;

	.account__wrapper {
		.account__display-name {
			color: $secondary-text-color;

			strong {
				color: $primary-text-color;
			}
		}
	}
}

.column {
	.column-back-button {
		@include column-shadow;
		background: $column-header-color;
	}

	.account-timeline__header {
		.account__header {
			// background: 
		}
	}
}

.account__action-bar__tab {
	strong {
		color: $primary-text-color;
	}
}