@charset "UTF-8";

@import '_variables.scss';
@import '_mixins.scss';



.account {
	border-color: $base-separation-color;

	.account__wrapper {
		.account__display-name {
			color: $secondary-text-color;

			strong {
				color: $primary-text-color;
			}
		}
	}
}

.column {
	.column-back-button {
		@include column-shadow;
		background: $column-header-color;
	}

	.account-timeline__header {
		.account__header {
			background-color: $account-foreground-color;

			> div {
				background-color: inherit;
			}

			.account__header__username {
				color: $secondary-lighter1-text-color;
			}

			.account__header__fields {
				dt {
					color: $primary-text-color;
					background: darken($base-color, 10%);
				}

				dd {
					color: $primary-text-color;
					background: $column-header-color;
				}

				a {
					color: $secondary-text-color;
				}
			}
		}

		.account__disclaimer {
			background: $column-header-color;
		}

		.account__action-bar {
			background: $column-header-color;
		}

		.account__section-headline {
			background: $column-header-color;

			a {
				color: $primary-text-color;

				&.active {
					color: $primary-lighter1-text-color;
				}
			}
		}
	}
}

.account__action-bar__tab {
	strong {
		color: $primary-text-color;
	}
}