@charset "UTF-8";

@import '_variables.scss';



.account {
	> .account__wrapper {
		> .account__display-name {
			color: $secondary-text-color;

			strong {
				color: $primary-text-color;
			}
		}
	}
}

.account__action-bar__tab {
	strong {
		color: $primary-text-color;
	}
}