@charset "UTF-8";

@import '_variables.scss';



.account {
	border-color: $base-separation-color;
	
	.account__wrapper {
		.account__display-name {
			color: $secondary-text-color;

			strong {
				color: $primary-text-color;
			}
		}
	}
}

.account-timeline__header {
	.account__header {
		
	}
}

.account__action-bar__tab {
	strong {
		color: $primary-text-color;
	}
}