@charset "UTF-8";

@import 'variables.scss';



body {
	color: $primary-text-color;
	background: $base-color;

	.ui {
		background: $base-color;
	}
}

.focusable {
	&:focus {
		background: inherit;
	}
}