@charset "UTF-8";

@import 'variables.scss';



.drawer {
	> .drawer__header {
		background: $column-header-color;
		box-shadow: 0 1px 8px $column-header-shadow-color;

		a {
			&:hover {
				background: $column-header-hover-color;
			}
		}
	}

	> .search {
		.search__input {
			color: $primary-text-color;
			background: $column-search-color;

			&:focus {
				background: lighten($column-search-color, 20%);
			}
		}
	}

	> .drawer__pager {
		box-shadow: 0 1px 8px $column-header-shadow-color;

		> .drawer__inner {
			background: $column-header-color;

			> .search-results {
				> .search-results__header {
					background: $column-header-color;
				}

				> .search-results__section {
					h5 {
						background: darken($column-header-color, 10%);
					}

					> .trends__item {
						> .trends__item__name a {
							color: $secondary-text-color;
						}

						> .trends__item__current {
							color: lighten($secondary-text-color, 10%);
						}
					}
				}
			}

			> .drawer__inner__mastodon {
				visibility: hidden;
			}
		}
	}
}

.navigation-bar {
	color: $secondary-text-color;

	.navigation-bar__profile {
		strong {
			color: $primary-text-color;
		}
	}
}

.compose-form {
	> .compose-form__buttons-wrapper {
		background: $column-header-color;
	}
}

.column-header__wrapper {
	> .column-header {
		background: $column-header-color;
		box-shadow: 0 1px 8px $column-header-shadow-color;

		* {
			background: inherit;
		}

		.column-header__icon {
			color: $icon-color;
		}

		.column-header__button {
			&.active {
				color: $icon-active-color;
				background: inherit;
			}
		}
	}

	.column-header__collapsible-inner {
		background: $column-header-color;
	}
}

.tabs-bar {
	margin: 0;
	background: $column-header-color;

	> .tabs-bar__link {
		color: $icon-color;
	}
}

.column {
	> .scrollable {
		background: transparent;

		> *[role="feed"] {
			> article {
				margin: 1em 0;

				&:first-child {
					margin: 0;
				}

				.load-more {
					background: transparent;

					&:hover {
						background: darken($column-header-color, 10%);
					}
				}
			}
		}
	}

	.column-subheading {
		background: darken($column-header-color, 10%);
	}

	.column-link {
		color: $primary-text-color;
		background: $base-color;
	}

	.empty-column-indicator {
		background: $column-header-color;
	}

	> .getting-started__wrapper,
	> .getting-started__footer {
		background: transparent;
	}

	> .getting-started {
		a {
			color: $primary-text-color;
		}
	}
}