@charset "UTF-8";

@import 'variables.scss';



.tabs-bar {
	margin: 0;
	background: $column-header-color;

	> .tabs-bar__link {
		color: $icon-color;
	}
}

.drawer {
	> .drawer__header {
		background: $column-header-color;
		box-shadow: 0 1px 8px $column-header-shadow-color;

		> .drawer__tab {
			color: $icon-color;
		}

		a {
			&:hover {
				background: $column-header-hover-color;
			}
		}
	}

	.drawer__inner {
		background: $base-color;

		> .drawer__inner__mastodon {
			visibility: hidden;
		}
	}
}

.navigation-bar {
	color: $secondary-text-color;

	.navigation-bar__profile {
		strong {
			color: $primary-text-color;
		}
	}
}

.compose-form {
	> .compose-form__buttons-wrapper {
		background: $column-header-color;
	}
}

.column {
	> .column-header__wrapper {
		> .column-header {
			background: $column-header-color;
			box-shadow: 0 1px 8px $column-header-shadow-color;
	
			&.active {
				.column-header__icon {
					color: $icon-active-color;
					text-shadow: 0 0 10px change-color($color: $icon-active-color, $alpha: 0.4);
				}
			}
	
			* {
				background: inherit;
			}
	
			.column-header__icon {
				color: $icon-color;
			}
	
			.column-header__button {
				&.active {
					color: $icon-active-color;
					background: inherit;
				}
			}
		}
	
		.column-header__collapsible-inner {
			background: $column-header-color;
		}
	}

	> .scrollable {
		background: transparent;

		> *[role="feed"] {
			> article {
				margin: 1em 0;

				&:first-child {
					margin: 0;
				}
			}
		}
	}

	.column-subheading {
		background: darken($base-color, 10%);
	}

	.column-link {
		color: $primary-text-color;
		background: $base-color;
	}

	.empty-column-indicator {
		flex-direction: column;
		background: $base-color;

		&::before {
			content: "";
			display: block;

			width: 100px;
			height: 100px;
			background: url("https://ssl.gstatic.com/s2/oz/images/notifications/jingles_eb4e5306b38f83915d82034fa93390d9/desktop_anim_2x.gif") center / contain no-repeat;
		}
	}
}

.getting-started__wrapper,
.getting-started {
	background: $base-color;
}

.getting-started {
	border-top: 1px solid $base-separation-color;

	a {
		color: $primary-text-color;
	}
}

.load-more {
	background: transparent;

	&:hover {
		background: darken($column-header-color, 10%);
	}
}