@import 'variables.scss';

.column-header {
	background: $column-header-color;
	box-shadow: 0 1px 8px $column-header-shadow-color;

	* { background: inherit }

	.column-header__button {
		&.active {
			color: $icon-active-color;
			background: inherit;
		}
	}
}

.tabs-bar {
	background: $column-header-color;

	& > .tabs-bar__link {
		color: $icon-color;
	}
}