@charset "UTF-8";

@import '_variables.scss';



.column-header__collapsible__extra {
	.column-settings__section {
		color: $primary-text-color;
	}

	.setting-toggle {
		.react-toggle {
			&.react-toggle--checked {
				> .react-toggle-track {
					background: $setting-toggle-checked-color;
				}

				> .react-toggle-thumb {
					border-color: $setting-toggle-checked-color;
					background-color: $setting-toggle-thumb-checked-color;
				}
			}

			> .react-toggle-track {
				background: $setting-toggle-color;
			}

			> .react-toggle-thumb {
				border-color: $setting-toggle-color;
				background-color: $setting-toggle-thumb-color;
			}
		}

		.setting-toggle__label {
			color: $primary-text-color;
		}
	}

	.setting-meta__label {
		color: $primary-lighter1-text-color;
	}
}