@import 'variables.scss';



.status__wrapper {
	&.focusable:focus {
		background: inherit;
		box-shadow: 0 0 20px $status-focused-shadow-color;
		
		.status {
			&.status-direct {
				background: darken($status-color, 5%);
			}
		}
	}
}

.status {
	background: $status-color;
	box-shadow: 0 1px 4px 0 $status-shadow-color;

	&.status-direct {
		background: darken($status-color, 10%);
	}

	.status__display-name {
		strong {
			color: $primary-text-color;
		}
	}

	.status__content {
		a {
			color: $secondary-text-color;
		}
	}
}