@charset "UTF-8";

@import 'variables.scss';



.status__wrapper {
	.status {
		box-shadow: 0 1px 4px 0 $status-shadow-color;
		border-bottom: 0;

		transition: box-shadow 0.1s 0s ease-out;
	
		&.status-direct {
			background: darken($status-color, 5%);
		}
	
		.status__display-name {
			strong {
				color: $primary-text-color;
			}
		}
	}
}

.detailed-status__wrapper {
	div[tabIndex="-1"] {
		margin-bottom: 1em;
	}

	.detailed-status {
		background: $status-color;

		.detailed-status__display-name {
			color: $secondary-text-color;

			strong {
				color: $primary-text-color;
			}
		}
	}

	.detailed-status__action-bar {
		background: $status-color;
		border-color: $base-separation-color;
	}
}

.status,
.detailed-status {
	background: $status-color;

	.status__content {
		a {
			color: $secondary-text-color;
		}
	}
}