// Text colors
$primary-text-color: rgba(0, 0, 0, 0.87);
$secondary-text-color: #2962ff;
$lighter1-text-color: #9e9e9e; // ex: 時間表示
$lighter2-text-color: #616161;

// Icon colors
$icon-color: rgba(0, 0, 0, 0.55);
$icon-active-color: #db4437;

// Background colors
$base-color: #f1f1f1;
$column-header-color: #ffffff;
$status-color: #ffffff;

// Shadow colors
$column-header-shadow-color: rgba(0, 0, 0, 0.3);
$status-shadow-color: rgba(0, 0, 0, 0.14);
$status-focused-shadow-color: rgba(0, 0, 0, 0.3);